.mainContainer {
  display: flex;
  gap: 20px;
  max-width: 1920px;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .mainContainer {
    flex-direction: column;
    gap: 15px;
    padding: 0 10px;
  }

}
