.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #373634;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.description {
  font-size: 1em;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.confirm {
  background-color: #4caf50;
  color: white;
}

.cancel {
  background-color: #91443e;
  color: white;
}

.helpTextConfirmDelete {
  color: #97948f;
  user-select: none;
  font-size: 14px;
  text-decoration: line-through;
}