.projectListContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  border-radius: 16px;
  background-color: #373634;
  flex-grow: 1;
  overflow-y: auto;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 25%);
}

.helpText {
  color: #555350;
  user-select: none;
  margin-left: 10px;
  font-size: 0.75em;
}

.currentProject {
  background-color: #4B4A48;
  color: #e2c6a1;
  padding: 15px;
  font-size: large;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  font-weight: bold;
  text-align: center;
  overflow-wrap: break-word;
}

.listContainer {
  flex-grow: 1;
  overflow-y: auto;
  margin-left: 20px;
}

.projectItem {
  background-color: #373634;
  color: #E8E6E3;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  overflow: hidden;
  width: calc(100% - 40px);
}

.projectLink {
  text-decoration: none;
  color:#E8E6E3;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  display: inline-block;
}

.currentProjectLink {
  color:#dba45b;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  display: inline-block;
}

.currentProjectLink:after {
  content: ' 👈';
  text-decoration: none;
}

.projectLink:hover::after {
  content: ' 👈';
  text-decoration: none;
}

.projectTextArea {
  margin-left: 10px;
  width: calc(100% - 20px);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.actionButton {
  width: auto;
  height: 48px;
  border-radius: 16px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.addButton {
  background-color: #3f873f;
  color: #fff;
}

.addButton:hover {
  background-color: #4caf50;
}

.deleteButton {
  background-color: #873f3f;
  color: #fff;
}

.deleteButton:hover {
  background-color: #922821;
}

.disabledDelete {
  pointer-events: none;
  background-color: #614949;
}